backend/.env
.vscode/settings.json

backend/scripts/database/municities/municities_table_test.json
backend/scripts/database/province/province_table_test.json
backend/app/core/__pycache__/config.cpython-313.pyc
backend/app/core/__pycache__/database.cpython-313.pyc
backend/scripts/scraping/__pycache__/volcano_detail_scraper.cpython-313.pyc
*.pyc
*.pyc
*.pyc
backend/app/core/__pycache__/config.cpython-313.pyc
backend/app/core/__pycache__/database.cpython-313.pyc
